{% extends 'layout.html' %}
<html>
    <head>


    </head>
    <body>
    {% block body %}
    <b><h2 style="text-align: center;background-color: yellowgreen ;" >VISUALIZATION OF DATA SET</h2></b>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <center><img src="/storage/correlation.png"  width="1200px" ></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/1.png"  width="1200px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/2.png"  width="1200px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/3.png"  width="1000px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/4.png"  width="1200px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/5.png"  width="1400px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/6.png"  width="1400px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/7.png"  width="1000px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/8.png"  width="1000px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/9.png"  width="1000px"></center>
            </div>
            <div class="carousel-item">
            <center><img src="/storage/10.png"  width="1200px"></center>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <br>
    <a href="/" target="_self" >
        <center>
            <button style="background-color: rgb(6, 100, 6); color: whitesmoke" class="btn btn-light">
                Home
            </button> 
        </center>           
        </a>
    {% endblock body %}
    </body>
</html>





